@charset 'utf-8';

@import "includes/variables";

@import "includes/mixins";

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0; padding: 0;
}
html{
	font-size: 62.5%;
	font-family: 'Ubuntu', Arial, sans-serif;
}
body{
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.page-content{
	overflow-x: hidden;
}
.small{
	font-size: 0.8em;
}
i{
	background: #fff;
	font-style: normal;
}
.intro{
	min-height: 100vh;
	position: relative;
	
	h1{
		font-size: 3vw;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		
		@media (max-width: $mobileLimit){
			font-size: 5rem;
		}
	}
	h2{
		font-size: 2vw;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		
		@media (max-width: $mobileLimit){
			font-size: 2rem;
		}
	}
	h3{
		font-size: 2vw;
		@media (max-width: $mobileLimit){
			font-size: 2rem;
		}
	}
	
	.text{
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		font-size: 1.5rem;
		@media (max-width: $mobileLimit){
			font-size: 1.5rem;
			position: static;
			left: 0;
			top: 0;
			padding: 10%;
			@include transform(translate(0, 0));
		}
		
		.note{
			font-size: 0.9em;
			margin-top: 20px;
		}
		
		i{
			background: #dddddd;
		}
	}
}

.bg-fixed{
	background-attachment: fixed;
}
.bg-cover{
	background-position: 50% 50%;
	background-size: cover;
}

.diaporama-wiz{
	overflow-x: hidden;
	background: #adadad;
}	
	.slide{
		font-size: 0;
		padding: 50vh 5vw 5vw 20vw;
		overflow: hidden;
		position: relative;
		background-position: 50% 50%;
		background-size: cover;
		
		@media (max-width: $mobileLimit){
			padding: 20vh 5vw 15vh 5vw;
			min-height: 100vh;
		}
			
		.title{ 
			font-size: 2vw;
			background: rgba(255, 255, 255, 0.7);
			display: inline-block;
			padding: 1%;
			font-weight: 700;
			text-transform: uppercase;
			border-radius:5px 5px 0 0 ;
			
			@media (max-width: $mobileLimit){
				font-size: 2rem;
				padding: 1rem;
			}
		}
		
		.desc{
			font-size: 1vw;
			background: rgba(255, 255, 255, 0.7);
			display: inline-block;
			padding: 1%;
			width: 75%;
			border-radius: 0 5px 5px 5px;
			
			@media (max-width: $mobileLimit){
				font-size: 1.5rem;
				padding: 1rem;
				width: 100%;
			}
			
			&:first-letter{
				font-size: 3em;
				font-weight: 700;
				padding: 0;
				font-style: italic;
				color: #c30f0f;
				line-height: 1vw;
			}
		}
		
		.image-w-50{
			width: 50%;
			@media (max-width: $mobileLimit){
				width: 100%;
			}
		}
		.image-w-33{
			width: 33.33333%;
			@media (max-width: $mobileLimit){
				width: 100%;
			}
		}
		
		.only-mobile{
			display: none;
			@media (max-width: $mobileLimit){
				display: block;
			}
		}
		
		.full,
		.info{
			position: absolute;
			right: 2rem;
			top: 50%;
			@include transform(translate(0, -50%));
			color: #fff;
			background: #000;
			border-radius: 100%;
			padding: 1rem;
			display: inline-block;
			font-size: 2.5rem;
			@media (max-width: $mobileLimit){
				display: none;
			}
		}
		
		.info{
			width: 5rem;
			height: 5rem;
			line-height: 5rem;
			text-align: center;
			padding: 0;
			font-family: Georgia, serif;
			@media (max-width: $mobileLimit){
				top: auto;
				bottom: 2rem;
				@include transform(translate(0, 0));
				display: block;
			}
		}
		
		.info-mask{
			opacity: 0;
			@include transition(opacity 0.6s ease-out);
			
			&.active{
				opacity: 1;
			}
		}
		
		.scrollLateral-content{
			width: 200%;
		}
	}


.diaporama-wiz .slide#personnalizab{
	padding-left:10vw;
	
	.title{
		color: #fff;
		font-size: 3vw;
		text-transform: none;
		font-style: italic;
		background: rgba(0,0,0,0.5);
		padding: 4rem;
		border-radius: 2rem 2rem 0 0;
		@media (max-width: $mobileLimit){
			font-size: 2rem;
			padding: 1rem;
		}
	}
	
	.desc{
		color: #f48f01;
		background: rgba(0,0,0,0.5);
		border-radius: 0 2rem 2rem 2rem;
		padding: 4rem;
		font-size: 1.5vw;
		@media (max-width: $mobileLimit){
			font-size: 2rem;
			padding: 1rem;
		}
		&:first-letter{
			color: #fff;
			font-size: 2vw;
			@media (max-width: $mobileLimit){
				font-size: 1.5rem;
			}
		}
	}
}

@include keyframes(bubble-anim) {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: scaleY(0.90) scaleX(1.15);
  }
  50% {
    transform: scaleY(1.15) scaleX(0.90);
  }
  60% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  70% {
    transform: scaleY(1.05) scaleX(0.95);
  }
  80% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  90% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.diaporama-wiz .slide#champitop{
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	
	h2:first-letter{
		font-size: 2em;
		color: #c30f0f;
	}
	
	.desc{
		width: auto;
	}
}

.js-sphere{
	position: relative;
	perspective: 1200px;
	perspective-origin: 50% 50%;
	@include animation(bubble-anim 1.5s ease-out infinite);
	
	&:after{
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: 100%;
		/*background:  radial-gradient(circle at 100px 100px, #fff, #666);*/
		background:  radial-gradient(ellipse at 100px 100px, #fff 0%, #fff 25%, #666 80%, #000 100%);
		box-shadow: 4px 4px 4px #000;
		z-index: -1;
	}
}

.slide .title.focus,
.slide .desc.focus{
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}


.scrollLateral {
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.scrollLateral-content {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	font-size: 0;
	position: absolute;
	@include flexbox;	
	@include flex-direction(row);
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	@include align-items(center);

	&.fixed {
		position: fixed; 
	}
	
	> *{
		display: inline-block;
		vertical-align: top;
		font-size: 0;
	}
	
	.desc{
		font-size: 2rem;
		padding: 2rem 10rem;
		width: 800px;
		@media (max-width: 500px) {
			width: 300px;
			padding: 2rem;
		}
		.big{
			font-size: 10rem;
			text-align: center;
		}
	}
}

.scrollLateral-resizable {
	height: 100%;
	max-width: 10000px;
	width: auto;
	display: inline-block; 
}

#lateral-05{
	
	.scrollLateral-content {
	
		.slide{
			padding-top: 25vh;
			@media (max-width: 500px) {
				padding-top: 2rem;
			}
		}
		
		h2{
			@media (max-width: 500px) {
				width: 75%;
			}
		}
		
		.desc{
			font-size: 2rem;
			padding: 2rem;
			font-size: 1.3rem;
			@media (max-width: 500px) {
				width: 75%;
				padding: 2rem;
				border-radius: 0 0 5px 5px;
			}
		}
		
		.image-w-50{
			@media (max-width: $mobileLimit){
				width: 75%;
			}
		}
		.image-w-33{
			@media (max-width: $mobileLimit){
				width: 75%;
			}
		}
	}
}
