@charset 'utf-8';

@import "includes/variables";

@import "includes/mixins";

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 0; padding: 0;
}
html{
	font-size: 62.5%;
	font-family: 'Ubuntu', Arial, sans-serif;
}
body{
	overflow-x: hidden;
	font-size: 16px;
	font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.page-content{
	overflow-x: hidden;
}
.small{
	font-size: 0.8em;
}
i{
	background: #fff;
	font-style: normal;
}
.intro{
	min-height: 100vh;
	position: relative;
	
	h1{
		font-size: 3vw;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		
		@media (max-width: $mobileLimit){
			font-size: 5rem;
		}
	}
	h2{
		font-size: 2vw;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		
		@media (max-width: $mobileLimit){
			font-size: 2rem;
		}
	}
	h3{
		font-size: 2vw;
		@media (max-width: $mobileLimit){
			font-size: 2rem;
		}
	}
	
	.text{
		padding: 5vh 5vw;
		width: 100%;
		max-width: 800px;
		margin: auto;
		font-size: 1.5rem;
		@media (max-width: $mobileLimit){
			font-size: 1.5rem;
			position: static;
			left: 0;
			top: 0;
			padding: 10%;
			@include transform(translate(0, 0));
		}
		
		.note{
			font-size: 0.9em;
			margin-top: 20px;
		}
		
		i{
			background: #dddddd;
		}
	}
}


#lateral-05{
	
	.scrollLateral-content {
	
		.slide{
			padding-top: 25vh;
			@media (max-width: 500px) {
				padding-top: 2rem;
			}
		}
		
		h2{
			@media (max-width: 500px) {
				width: 75%;
			}
		}
		
		.desc{
			font-size: 2rem;
			padding: 2rem;
			font-size: 1.3rem;
			@media (max-width: 500px) {
				width: 75%;
				padding: 2rem;
				border-radius: 0 0 5px 5px;
			}
		}
		
		.image-w-50{
			@media (max-width: $mobileLimit){
				width: 75%;
			}
		}
		.image-w-33{
			@media (max-width: $mobileLimit){
				width: 75%;
			}
		}
	}
}
