@charset 'utf-8';

@import "includes/variables";

@import "includes/mixins";

.page-content{
	overflow-x: hidden;
}

.bg-fixed{
	background-attachment: fixed;
}

.bg-cover{
	background-position: 50% 50%;
	background-size: cover;
}

.diaporama-wiz{
	overflow-x: hidden;
	background: #adadad;
}

.slide{
	font-size: 0;
	padding: 30vh 5vw 5vw 20vw;
	overflow: hidden;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	
	@media (max-width: $mobileLimit){
		padding: 20vh 5vw 15vh 5vw;
		min-height: 100vh;
	}
		
	.title{ 
		font-size: 2vw;
		background: rgba(255, 255, 255, 0.7);
		display: inline-block;
		padding: 1%;
		font-weight: 700;
		text-transform: uppercase;
		border-radius:5px 5px 0 0 ;
		
		@media (max-width: $mobileLimit){
			font-size: 2rem;
			padding: 1rem;
		}
	}
	
	.desc{
		font-size: 1vw;
		background: rgba(255, 255, 255, 0.7);
		display: inline-block;
		padding: 1%;
		width: 75%;
		border-radius: 0 5px 5px 5px;
		
		@media (max-width: $mobileLimit){
			font-size: 1.5rem;
			padding: 1rem;
			width: 100%;
		}
		
		&:first-letter{
			font-size: 3em;
			font-weight: 700;
			padding: 0;
			font-style: italic;
			color: #c30f0f;
			line-height: 1vw;
		}
	}
	
	.image-w-50{
		width: 50%;
		@media (max-width: $mobileLimit){
			width: 100%;
		}
	}
	.image-w-33{
		width: 33.33333%;
		@media (max-width: $mobileLimit){
			width: 100%;
		}
	}
	
	.only-mobile{
		display: none;
		@media (max-width: $mobileLimit){
			display: block;
		}
	}
	
	.full,
	.info{
		position: absolute;
		right: 2rem;
		top: 50%;
		@include transform(translate(0, -50%));
		color: #fff;
		background: #000;
		border-radius: 100%;
		padding: 1rem;
		display: inline-block;
		font-size: 2.5rem;
		@media (max-width: $mobileLimit){
			display: none;
		}
	}
	
	.info{
		width: 5rem;
		height: 5rem;
		line-height: 5rem;
		text-align: center;
		padding: 0;
		font-family: Georgia, serif;
		@media (max-width: $mobileLimit){
			top: auto;
			bottom: 2rem;
			@include transform(translate(0, 0));
			display: block;
		}
	}
	
	.info-mask{
		opacity: 0;
		@include transition(opacity 0.6s ease-out);
		
		&.active{
			opacity: 1;
		}
	}
	
	.scrollLateral-content{
		width: 200%;
	}
}

.scrollLateral {
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
}
.scrollLateral-content {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	font-size: 0;
	position: absolute;
	@include flexbox;	
	@include flex-direction(row);
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	@include align-items(center);

	&.fixed {
		position: fixed; 
	}
	
	> *{
		display: inline-block;
		vertical-align: top;
		font-size: 0;
	}
	
	.desc{
		font-size: 2rem;
		padding: 2rem 10rem;
		width: 800px;
		@media (max-width: 500px) {
			width: 300px;
			padding: 2rem;
		}
		.big{
			font-size: 10rem;
			text-align: center;
		}
	}
}

.scrollLateral-resizable {
	height: 100%;
	max-width: 10000px;
	width: auto;
	display: inline-block; 
}


/* LOADING */
@include keyframes(bubble-anim) {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: scaleY(0.90) scaleX(1.15);
  }
  50% {
    transform: scaleY(1.15) scaleX(0.90);
  }
  60% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  70% {
    transform: scaleY(1.05) scaleX(0.95);
  }
  80% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  90% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.loading{
	width: 100vw;
	height: 100%;
	background: #fff;
	position: absolute;
	z-index: 666;
	@include transition(transform 0.6s ease-out);
	
	&.hide{
		@include transform(translate(0, -100%));
	}
	
	.anim{
		position: relative;
		width: 75px; 
		height: 75px;
		perspective: 1200px;
		perspective-origin: 50% 50%;
		@include animation(bubble-anim 1.5s ease-out infinite);
		left: 50%;
		top: 300px;
		@include transform(translate(-50%, -50%));
		
		span {
			display: block;
			width: 75px;
			height: 75px;
			background: url('../img/loader-w.png') no-repeat center center;
		}
		
	}
}
