@font-face {
	font-family: 'VAGR-Bold';
	src: url('fonts/VAGRoundedStd-Bold.eot');
	src: url('fonts/VAGRoundedStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/VAGRoundedStd-Bold.woff2') format('woff2'),
		url('fonts/VAGRoundedStd-Bold.woff') format('woff'),
		url('fonts/VAGRoundedStd-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VAGR-Thin';
	src: url('fonts/VAGRoundedStd-Thin.eot');
	src: url('fonts/VAGRoundedStd-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/VAGRoundedStd-Thin.woff2') format('woff2'),
		url('fonts/VAGRoundedStd-Thin.woff') format('woff'),
		url('fonts/VAGRoundedStd-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}